@{
    ViewBag.Title = "Drool";
}

<div class="index">
    <img src="~/Content/Images/coverbig.jpg" />

</div>
<br/>

<style>

    img {
        margin-top: 20px;
        max-width: 100%;
        max-height: 100%;
        

    }
</style>
    